body{
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.searchSection {
  flex: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(23, 92, 92);
  color: white;
}

.dealsSection{
  width: 100%;
  flex: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.deals {
  background-color: rgb(119, 0, 255);
  color: white;
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 5px;
}

input , button {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 10px;
  margin: 12px;
  font-size: 25px;
  outline: none;
}

input{
  padding-left: 10px;
}

button{
  cursor: pointer;
}

.games {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
  border-radius: 8px;
  background-color: wheat;
  padding: 5px;
  color: black;
  overflow: hidden;
  font-size: 1.5em;
}

.game img {
  height: 200px;
  width: 80%;
  margin-top: 10px;
}

